body {
    
}

img {
    width: 300px;
    height: auto;
    float: right;
    margin: 0 0 16px 16px;
}

.wrapper {
    width: 800px;
    margin: 16px auto;
}

p {
    /*text-align: justify;*/
}

.footer-left {
    background-color: aqua;
    width: 200px;
}

.footer-right {
    background-color: coral;
    width: 200px;
    text-align: right;
}

footer {
    display: flex;
    justify-content: space-between;
}



/* Media query - jos koko on alle 820px */
@media (max-width: 820px) {
   
    img {
        float: none;
        width: 100%;
        margin: 16px 0 16px 0;
    }

    .wrapper {
        width: 92%;
    }

}

@media (max-width: 450px) {

    img {
        display: none;
    }

    footer {
       flex-direction: column; 
    }

    .footer-right {
        text-align: left;
    }

}
