.cards {
    display: grid;
    grid-template-columns: 320px 320px;
    gap: 32px;
    justify-content: center;
}

@media (max-width: 600px) {
   .cards {
    /*display: block;*/
    grid-template-columns: 1fr;
   }
}