body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* px vh vw % em rem */
    font-size: 16px;
    color: rgb(50, 50, 50);
}

.container {
    width: 900px;
    /* keskittää containerin selainnäkymässä */
    margin: 16px auto 16px auto;
}

article img {
    /* Kuvan koko on maksimissaan 100% siitä tilasta, missä se on, eli tässä container 900px */
    width: 100%;
    height: auto;
}

.logo {
    width: 320px;
    height: auto;
}
